body{
    background-image: url("./image.png");margin: 100px;background-size: cover ;background-repeat: no-repeat;
}
.jd{
    margin-top: 10px;margin-left: 0%;
}
.f{
    color: orangered;
}
.M{
    padding-left: top: 10px; ;
}